#event-1, #event-2, #event-3, #event-4, #event-5 {
    margin-top:2em;
}

.event {
    border-radius: 5px;
    box-shadow: 0 .05em .25em rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.1);
    margin: 0.3em 0.5em;
    padding: 0.5em 0.8em;
}

.event img {
    width: 30%;
    float:left;
    padding-right: 0.5em;
    padding-bottom: 0.3em;
}

.event p:nth-child(2) {
    padding-left: 10%;
    padding: 0.5em 0.7em;
    vertical-align: top;
    font-weight: bold;
}

.event p:nth-child(4) {
    padding: 0.7em 0.7em;
    text-align: center;
    font-weight: bolder;
}


.event .button-line {
    margin-top: 0.5em;
    display: flex;
    justify-content:space-around;
}

.event button {
    padding: 0.3em 0.5em;
    border-radius: 5px;
    background-color: hsla(360, 100%, 100%, 1);
}
