/*basic layout of site *************************/
@media (min-width:544px) {
/*large screen*/
    #wrapper {
        overflow: hidden;
        background-color: lightblue;
    }

    #footer {
        background-color: brown;
        clear: both;
        margin: 0.5em;
    }

    #event-stubs {
        float:left;
        width: calc(35% - 1em);
        margin: 0.5em;
    }

    #main {
        float:left;
        width: calc(65% - 1em);
        margin: 0.5em;
    }
}
/*end large screen*/

@media (max-width:543px) {
/*small screen*/
    #footer {
        display:none;
    }
    #event-stubs {
        display:none;
    }
    #main {
        background-color: red;
    }
}
/*end small screen*/
/*end basic layout of site *************************/
