/*navbar styling ***************************************************/
.admin-navbar, .navbar {
  align-items: center;
  background: #e1ff00 linear-gradient(to right, hsla(0,0%,100%,.5),transparent);
  display: flex;
  flex-flow: row;
  height: 5em;
  justify-content: flex-start;
}

.admin-navbar h1, .navbar h1 {
    color: hsl(166, 100%, 50%);
    text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
    display:inline-block;;
    margin: 0 1em;
    transform: rotate(-12deg) skew(10deg);
}

.admin-navbar ul, .navbar ul {
    display: inline-block;
    list-style: none;
    margin-botttom: 5px;
}

.admin-navbar li, .navbar li {
    display: inline-block;
    margin-left:1vw;
}

.admin-navbar a, .navbar a {
  background-image: background: hsla(204,65%,65%,0.6) -webkit-linear-gradient(left, hsla(0,0%,100%,.2), transparent);
  background-image: background: hsla(204,65%,65%,0.6) -o-linear-gradient(left, hsla(0,0%,100%,.2), transparent);
  background-image: background: hsla(204,65%,65%,0.6) linear-gradient(to right, hsla(0,0%,100%,.2), transparent);
  border-radius: 0.2em;
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
  border: 1px solid rgba(0,0,0,.1);
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  padding: 0.3em 0.5em;
  line-height: 1.5;
  text-decoration: none;
}

.admin-navbar button, .navbar button {
    padding: 0.3em 0.5em;
    border-radius: 5px;
    background-color: hsla(360, 100%, 100%, 1);
    display: none;
}

@media (max-width:543px) {
    .admin-navbar, .navbar {
        justify-content: space-between;
    }
    .admin-navbar ul, .navbar ul {
        display: none;
    }

    .admin-navbar button, .navbar button {
        display: inline;
        margin-right: 2vw;
    }
}

/* end navbar styling **********************************************/

/* outside-navbar styling ********************************/

@media (min-width:544px) {
    .outside-navbar {
        display: none;
    }
}

@media (max-width:543px) {
    .outside-navbar {
        display: none;
    }
    .outside-navbar-show {
        display: block;
    }
}

.outside-navbar {
    margin-top:0.5em;
    width: 30vw;
    margin-left: 70vw;
    background-color: lightblue;
    position: relative;
    bottom: 5vh;
    border-radius: 5px;
    box-shadow: 0 .05em .25em rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.1);
    text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
    line-height: 1.5;
    padding-left: 0.5em;
}

.outside-navbar ul {
    list-style: none;
}

.outside-navbar li:hover {
    background-color: lightgray;
}

.outside-navbar a {
    /*width: 100%;*/
    /*padding-left: 40vw;*/
    text-decoration: none;
    color: #050505;
    display: block;
    /*border-bottom:  1px solid black;*/
}

/* end outside-navbar styling *********************************************/
